/* 
.quiz-page{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz-constiner{
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 80vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px

}
.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .question-container {
    text-align: center;
  }
  
  .question-number {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .question-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .options-list {
    list-style: none;
    display: flex;

  }
  .option-label{
 padding:30px 150px !important;  
 }
  .option-item{
    width: fit-content;
    height: fit-content;
    /* margin-bottom: 20px;
border-radius: 10px;
background-color: var(--bgSoft);
border: solid 2px var(--btnF);
box-shadow: 0px 15px 20px rgba(246, 26, 213, 0.1);
  }
  .option-label {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 30px;
border-radius: 10px;
background-color: var(--bgSoft);
border: solid 2px var(--btnF);
box-shadow: 0px 15px 20px rgba(246, 26, 213, 0.1);

  }
  input[type="radio"]:checked + .option-item  {
    background-color: #78fe53 !important;

}
.option-item:hover{
    background-color:var(--btnF);
}
  
.check-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .check-btn:hover {
    background-color: #0056b3;
  }
  
  .correct-answer {
    color: green;
    font-weight: bold;
  }
  
  .quiz-completed {
    text-align: center;
  }
  
  .final-score {
    font-size: 24px;
    font-weight: bold;
  }
  .option-label.focused {
    background-color: rgb(0, 225, 255);
    font-weight: bold; /* Change the style when the radio button is focused */
 