.quiz{
    overflow-y: hidden;
    overflow-x: hidden;
}
.quiz {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100VW;
    height: 100vh;
    background-color: rgb(34, 34, 190);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quiz-container {
    background-color: var(--bg);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 15px 20px rgba(49, 49, 49, 0.374);

}
.question-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: self-start;

}
.option-label{
min-width: 300px;
    background-color:#F7F5F6;
    /* border-bottom: 8px solid #D9D9D9 ; */
    padding:  10px 20px ;
    min-height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .option-label.focused {
    background-color:#7CFAA1;
    border-bottom: 8px solid #52C574 ;
    font-weight: bold; 
} */
.option-label.correct {
    background-color:var(--primary);
    border-style: none;
    /* border-bottom: 8px solid #52C574 ; */
    font-weight: bold; 
    color: white;

}
.correct .option-icons.is-correct{
    display: block ;
}
.notCorrect .option-icons.not-correct{
    display: block ;
}
.option-label.notCorrect {
    background-color:#505050;
    /* border-bottom: 8px solid #d0001c ; */
    font-weight: bold; 
    color: white;
}
.select-option{
    width: 100%;
    
}
.check-btn
{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border-color: #3f03e4;
    color:#3f03e4 ;
    background-color: #0994eb39;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 10px;
}
.question-txt{
    color: rgb(0, 0, 74);
    font-size: 30px;
    font-weight: 800;
}
.quiz-name{
    font-weight: 200;
    color: var(--primary);
}
.option-item {
    width: 100%;
    position: relative;
    display: contents;
}
.options-container{
width: 100%;
}

.options-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.option-icons{
height: min-content;
display: none;
}

.quiz-completed{
    width: 100%;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}