.add-quiz-container,.add-ques-container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.add-quiz-form,.add-ques-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    border-radius: 10px;
}
.add-quiz-form input{
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
}
.add-ques-form input{
    padding: 20px;
    background-color: rgba(240, 248, 255, 0);
    color: var(--text);
    border-radius: 5px;
    border: none;
    width: 50%;
}
.add-quiz-form button,.add-ques-form button{
    width: 100%;
    padding: 30px;
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="radio"] {
    /* ...existing styles */
    width: 1em;
    height: 1em;
    display: grid;
    place-content: center;
    background-color: blueviolet;
}
.add-ques-form .radio-label {
    border-radius: 100px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.157);
}
.add-ques-form-option{
    border-width:  2px 0 0 0;
    border-style: solid;
border-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    height: min-content;
}
/* Apply styles to the label when the radio button is checked */
input[type="radio"]:checked + .radio-label {
    background-color: #78fe53 !important;
    box-shadow: 0px 15px 20px rgba(59, 246, 26, 0.1);

    color: rgb(255, 255, 255) !important;
}
input[type="radio"]{
    display: none;
}
.question-lable{
min-width: 100%;
background-color: rgba(255, 255, 255, 0);
margin-bottom: 20px;
color: rgb(123, 123, 123);
}
img{
    max-width: 50px;
}